<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <a href="./doctor/signup"><button>Signup as Doctor</button></a>
    <a href="./patient/signup"><button>Signup as Patient</button></a>
</body>
</html>