<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Home</title>
</head>
<body>
    <h1>Welcome <%= patient_name %></h1>
    <button onclick="redirectToDoctors('Dermatologist')">Dermatologist</button>
    <button onclick="redirectToDoctors('Opthamologist')">Opthamologist</button>
    <button onclick="redirectToDoctors('Cardiologist')">Cardiologist</button>

    <script>
        function redirectToDoctors(specialisation) {
            window.location.href = `/doctor/list?specialisation=${specialisation}`;
        }
    </script>
</body>
</html>